<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestCasa</title>
    <link rel="icon" type="image/svg+xml" href="/iamges/RestCasa logo.svg">
    <link rel="alternate icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <%- include('../includes/navbar.ejs') %> 
   <%- include('../includes/flash.ejs') %> 
    <%- body %>
    <%- include('../includes/footer.ejs') %>
    
</body>
</html>