<% layout("/layouts/boilerplate") %>

<div class="signup-wrapper">
    <div class="signup-container">
        <div class="signup-header">
            <h2>Welcome Back</h2>
            <p>Login to continue your journey</p>
        </div>
        
        <form action="/login" method="POST" novalidate>
            
            <div class="input-group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    name="username" 
                    id="username" 
                    class="custom-input" 
                    required
                >
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    class="custom-input" 
                    required
                >
            </div>

            <button class="btn-signup">Login</button>
        </form>
        
        <div class="text-center mt-3">
            <small>Don't have an account? <a href="/signup" class="text-danger">Sign up</a></small>
        </div>

    </div>
</div>